.git
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.venv
env
venv
sign_translator/data/raw
sign_translator/data/processed
sign_translator/models/confusion_matrix.png
sign_translator/models/training_history.png
text_to_sign/src/assets/hero.png
text_to_sign/node_modules
text_to_sign/dist
text_to_sign/src/data/DATASET
text_to_sign_dist
*.egg-info
.DS_Store
Thumbs.db
*.log
.env
